$fontcolor: #ff6b6b;
@mixin displayBlock(){
    display: block;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.recipe-list {
    margin-top: 5%;

    .recipe-search {
        @include displayBlock();
        margin: 3% auto;
        border: none;
        box-shadow: 4px 7px 26px -1px rgba(0,0,0,0.64);
        width: 30rem;
        border-radius: 40px;

        .rounded-circle {
            width: 70%;
            display: block;
            margin: 0 auto;
            padding: 3%;
        }
        
        .card-title {
            font-weight: 700;
            text-align: center;
            color: #292f36;
        }

        a {
            color: #ffffff;
        }

        a:hover {
            text-decoration: none;
        }

        button {
            display: block;
            margin: 0 auto;
            background-color: $fontcolor;
            border-color: $fontcolor;
            color: #ffffff;
        }

        .btn-link:hover {
            text-decoration: none;
        }
    }
}