.recipe-search {
    display: block;
    margin: 2% auto;
    border: none;
    box-shadow: 4px 7px 26px -1px rgba(0,0,0,0.64);
    width: 30rem;

    .rounded-circle {
        width: 70%;
        display: block;
        margin: 0 auto;
        padding: 5%;
    }

    div.card-title.h5 {
        text-align: center;
    }
}