@mixin block {
    display: block;
}

.register {
    @include block();
    margin: 30% auto;

    input {
        width: 300px;
        @include block();
        margin: 0 auto;
    }

    .label {
        text-align: center;
    }

    .register-submit {
        width: 75px;
        margin: 2% auto;
        padding: .375rem .75rem;
        border-radius: .25rem;
        border-color: rgb(248, 249, 250);
    }
}