.input {
    border: none;
    border-radius: .25rem;
    padding: .375rem .75rem;
    // box-shadow: 4px 7px 26px -1px rgba(0,0,0,0.64);
}

.search {
    // box-shadow: 4px 7px 26px -1px rgba(0,0,0,0.64);
    padding: .375rem .75rem;
    border-radius: .25rem;
    border-color: rgb(248, 249, 250);
}