.navbar {
    background-color: #4ecdC4;

    .navbar-brand {
        font-family: 'Luckiest Guy', cursive;
        letter-spacing: 2.5px;
        margin-top: 1%;
    }
}

.input {
    border: none;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin-left: 10px;
}

.search {
    margin-left: 10px;
}