form {
    padding: 5% 0 10% 0;
    z-index: 40;
    position: sticky;
    top: 0;
    background-color: rgba(240, 135, 135, 0.2);
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.input {
    border: none;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin: 0 10px 0 10px;
    box-shadow: 4px 7px 26px -1px rgba(0,0,0,0.64);
}

.search {
    box-shadow: 4px 7px 26px -1px rgba(0,0,0,0.64);
    margin-left: 1%;
    background-color: transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    color: rgb(248, 249, 250);
    border-color: rgb(248, 249, 250);
}

.search:hover {
    background-color: rgb(240,128,128);
}