body {
  background: linear-gradient(90deg, rgba(242,233,233,1) 0%, rgba(240,128,128,1) 50%, rgba(246,213,213,1) 100%);
}

.App {
  font-family: "Comic Neue", cursive;
} 

a {
  font-size: 20px;
  color: rgb(240,128,128);
}

.card-title {
  font-weight: 700;
  color: rgb(240,128,128);
}

a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(240,128,128);
}

.carousel-indicators {
  visibility: hidden;
}