@media(min-width: 768px){
    .recipe-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
<<<<<<< HEAD
        margin-right: 40px;
=======
>>>>>>> 4bca6c67de9c99cd62eb5949b0e94f7345c9a7dd
    }

    .home-container {
        margin-right: 4%;
    }

    .hungry-title {
        padding-left: 9%;
    }
}

@media(min-width: 1080px){
    .recipe-list {
        margin-left: 2%;
    }

    .home-container {
<<<<<<< HEAD
        margin-left: 4%;
        margin-right: 6%;
=======
        margin-left: 6%;
>>>>>>> 4bca6c67de9c99cd62eb5949b0e94f7345c9a7dd
    }

    .hungry-title {
        padding-left: 11%;
    }
}