@media(min-width: 768px){
    .recipe-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 40px;
    }

    .hungry-title {
        padding-left: 9%;
    }
}

@media(min-width: 1080px){
    .recipe-list {
        margin-left: 2%;
    }

    .home-container {
        margin-right: 6%;
        margin-left: 4%;
    }

    .hungry-title {
        padding-left: 11%;
    }
}