@media(min-width: 300px){
    .recipe-search {
        width: 21.5rem;
    }
}

@media(min-width: 768px){
    .navbar-brand {
        font-size: 3vh;
    }

    div > .recipe-list {
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .recipe-search {
        width: 23rem;;
    }

    .ingredients-container > div {
        display: flex;
        justify-content: space-around;
    }
}

@media(min-width: 1020px){
    .navbar-brand {
        font-size: 4vh;
    }

    div > .recipe-list {
        margin-top: 5%;
    }

    .recipe-search {
        width: 29rem;
    }

    .ingredients-container > div {
        margin-top: -10%;
        margin-bottom: 5%;
    }

    .ingredients-container > div > div > img {
        width: 25em;
    }
}